In [2]:
#Importing All Libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#Reading Dataset
df=pd.read_csv('raw_messy_dataset.csv')

In [4]:
#Checking Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        105 non-null    object
 1   Age         72 non-null     object
 2   Gender      89 non-null     object
 3   Email       95 non-null     object
 4   Join_Date   70 non-null     object
 5   Salary      78 non-null     object
 6   Department  89 non-null     object
dtypes: object(7)
memory usage: 5.9+ KB

In [5]:
#Describing data
df.describe()

         Name Age Gender              Email   Join_Date Salary   Department
count     105  72     89                 95          70     78           89
unique     10   5      5                 90           4      5            5
top     Alice  40   Male  user0@example.com  2021-05-21  50000  Engineering
freq       11  22     22                  2          26     22           26

In [7]:
#Finding Duplicates
df.duplicated().sum()

np.int64(5)

In [8]:
#Removing Duplicates
df.drop_duplicates(inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        100 non-null    object
 1   Age         69 non-null     object
 2   Gender      86 non-null     object
 3   Email       90 non-null     object
 4   Join_Date   66 non-null     object
 5   Salary      74 non-null     object
 6   Department  84 non-null     object
dtypes: object(7)
memory usage: 6.2+ KB

In [ ]:
print(df)

In [11]:
#Handling Age
df['Age']=pd.to_numeric(df['Age'],errors='coerce')

In [12]:
#finding Mean of age
mean=df['Age'].mean()
print(mean)

33.94736842105263

In [14]:
df['Age'].fillna(mean,inplace=True)
print(df.to_string())

       Name        Age  Gender               Email     Join_Date   Salary   Department
0     Alice  33.947368     NaN   user0@example.com    2021-05-21      NaN        Admin
1       Bob  40.000000       M   user1@example.com           NaN    50000  Engineering
2   Charlie  33.947368    Male   user2@example.com    2020/01/01    50000           HR
3     David  33.947368     NaN   user3@example.com    2021-05-21    70000        Admin
4       Eva  35.000000   Other   user4@example.com  July 4, 2020    70000  Engineering
5     Frank  33.947368   Other   user5@example.com           NaN    70000        Admin
6     Grace  33.947368  Female   user6@example.com  July 4, 2020    80000  Engineering
7    Hannah  33.947368   Other   user7@example.com    2021-05-21      NaN           HR
8       Ivy  30.000000  Female   user8@example.com           NaN    50000  Engineering
9      Jack  35.000000    Male   user9@example.com    2020/01/01    80000  Engineering
10    Alice  33.947368       M  user10@example.com    2021-05-21    70000  Engineering
11      Bob  35.000000       M  user11@example.com  July 4, 2020    50000        Sales
12  Charlie  35.000000       M  user12@example.com    22-06-2022    80000        Sales
13    David  33.947368   Other  user13@example.com           NaN      NaN        Sales
14      Eva  40.000000    Male  user14@example.com  July 4, 2020    80000           HR
15    Frank  35.000000   Other  user15@example.com           NaN      NaN        Admin
16    Grace  33.947368   Other  user16@example.com    2021-05-21    70000          NaN
17   Hannah  33.947368    Male  user17@example.com           NaN      NaN  Engineering
18      Ivy  30.000000    Male  user18@example.com    2021-05-21    50000  Engineering
19     Jack  40.000000    Male  user19@example.com           NaN    70000           HR
20    Alice  33.947368    Male  user20@example.com    2021-05-21    50000  Engineering
21      Bob  33.947368       M  user21@example.com    22-06-2022  unknown        Sales
22  Charlie  30.000000       F  user22@example.com           NaN    60000          NaN
23    David  40.000000       F  user23@example.com           NaN      NaN    Marketing
24      Eva  33.947368    Male  user24@example.com           NaN    60000  Engineering
25    Frank  25.000000       F  user25@example.com    22-06-2022    60000        Sales
26    Grace  40.000000       F  user26@example.com  July 4, 2020      NaN    Marketing
27   Hannah  30.000000    Male  user27@example.com    2021-05-21    70000          NaN
28      Ivy  33.947368       F  user28@example.com    2020/01/01  unknown    Marketing
29     Jack  33.947368   Other  user29@example.com    2021-05-21    50000        Sales
30    Alice  40.000000  Female  user30@example.com    2021-05-21    80000        Admin
31      Bob  25.000000  Female  user31@example.com  July 4, 2020    50000        Admin
32  Charlie  25.000000    Male  user32@example.com    2021-05-21    80000    Marketing
33    David  35.000000       M  user33@example.com    22-06-2022    50000           HR
34      Eva  35.000000    Male  user34@example.com    22-06-2022      NaN    Marketing
35    Frank  33.947368       M  user35@example.com           NaN  unknown  Engineering
36    Grace  30.000000  Female  user36@example.com           NaN    80000  Engineering
37   Hannah  40.000000    Male  user37@example.com    2020/01/01      NaN        Admin
38      Ivy  40.000000     NaN  user38@example.com    2021-05-21    70000           HR
39     Jack  33.947368   Other  user39@example.com    2021-05-21    50000        Sales
40    Alice  33.947368       F  user40@example.com  July 4, 2020    50000  Engineering
41      Bob  33.947368       M  user41@example.com           NaN    80000        Admin
42  Charlie  33.947368     NaN  user42@example.com    22-06-2022    70000          NaN
43    David  33.947368       F  user43@example.com    2020/01/01    70000        Admin
44      Eva  35.000000       F  user44@example.com           NaN      NaN  Engineering
45    Frank  40.000000    Male  user45@example.com    22-06-2022      NaN  Engineering
46    Grace  33.947368       F  user46@example.com           NaN      NaN        Admin
47   Hannah  40.000000   Other  user47@example.com           NaN      NaN        Sales
48      Ivy  25.000000     NaN  user48@example.com  July 4, 2020      NaN    Marketing
49     Jack  35.000000       F  user49@example.com  July 4, 2020      NaN  Engineering
50    Alice  33.947368    Male  user50@example.com    2021-05-21      NaN        Admin
51      Bob  35.000000   Other  user51@example.com           NaN  unknown        Admin
52  Charlie  33.947368  Female  user52@example.com    2020/01/01    70000           HR
53    David  33.947368     NaN  user53@example.com           NaN      NaN    Marketing
54      Eva  25.000000       F  user54@example.com    22-06-2022    70000          NaN
55    Frank  33.947368    Male  user55@example.com           NaN    70000        Sales
56    Grace  30.000000  Female  user56@example.com           NaN    60000          NaN
57   Hannah  40.000000  Female  user57@example.com  July 4, 2020  unknown    Marketing
58      Ivy  25.000000       M  user58@example.com    2021-05-21      NaN    Marketing
59     Jack  40.000000   Other  user59@example.com    2021-05-21    50000    Marketing
60    Alice  33.947368       F  user60@example.com           NaN    80000          NaN
61      Bob  30.000000    Male  user61@example.com  July 4, 2020      NaN    Marketing
62  Charlie  30.000000       M  user62@example.com           NaN    50000        Admin
63    David  25.000000   Other  user63@example.com    2020/01/01  unknown          NaN
64      Eva  30.000000       M  user64@example.com  July 4, 2020    80000    Marketing
65    Frank  33.947368     NaN  user65@example.com           NaN  unknown        Admin
66    Grace  30.000000   Other  user66@example.com           NaN    70000           HR
67   Hannah  40.000000   Other  user67@example.com  July 4, 2020    80000    Marketing
68      Ivy  40.000000       F  user68@example.com           NaN    70000          NaN
69     Jack  33.947368   Other  user69@example.com  July 4, 2020    50000  Engineering
70    Alice  40.000000       M  user70@example.com    22-06-2022    50000    Marketing
71      Bob  33.947368   Other  user71@example.com  July 4, 2020    80000  Engineering
72  Charlie  40.000000       F  user72@example.com  July 4, 2020    80000        Admin
73    David  33.947368       F  user73@example.com           NaN      NaN           HR
74      Eva  33.947368     NaN  user74@example.com           NaN  unknown        Sales
75    Frank  35.000000       M  user75@example.com    2021-05-21      NaN           HR
76    Grace  33.947368  Female  user76@example.com    2021-05-21  unknown    Marketing
77   Hannah  25.000000  Female  user77@example.com    22-06-2022      NaN  Engineering
78      Ivy  40.000000   Other  user78@example.com    2021-05-21    70000  Engineering
79     Jack  30.000000     NaN  user79@example.com  July 4, 2020    80000          NaN
80    Alice  40.000000    Male  user80@example.com           NaN    50000  Engineering
81      Bob  30.000000   Other  user81@example.com    2021-05-21  unknown          NaN
82  Charlie  33.947368     NaN  user82@example.com    2021-05-21  unknown        Admin
83    David  33.947368       M  user83@example.com    22-06-2022    50000        Sales
84      Eva  33.947368       M  user84@example.com           NaN      NaN    Marketing
85    Frank  30.000000       M  user85@example.com    22-06-2022  unknown          NaN
86    Grace  40.000000       M  user86@example.com  July 4, 2020      NaN        Sales
87   Hannah  33.947368       M  user87@example.com           NaN    70000  Engineering
88      Ivy  33.947368     NaN  user88@example.com    22-06-2022    80000  Engineering
89     Jack  33.947368     NaN  user89@example.com    2021-05-21    50000        Sales
90    Alice  30.000000       F                 NaN           NaN    80000  Engineering
91      Bob  30.000000  Female                 NaN           NaN      NaN        Admin
92  Charlie  40.000000       M                 NaN    2021-05-21  unknown        Admin
93    David  30.000000    Male                 NaN    22-06-2022  unknown        Sales
94      Eva  30.000000     NaN                 NaN    2021-05-21      NaN          NaN
95    Frank  33.947368    Male                 NaN           NaN    50000          NaN
96    Grace  40.000000    Male                 NaN           NaN    70000        Sales
97   Hannah  33.947368    Male                 NaN    2020/01/01    60000          NaN
98      Ivy  33.947368       F                 NaN    2020/01/01    50000          NaN
99     Jack  33.947368     NaN                 NaN  July 4, 2020    60000        Admin

C:\Users\jyoti\AppData\Local\Temp\ipykernel_16728\2809614828.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(mean,inplace=True)

In [16]:
#handling Gender Column
df.replace(['Male'],'M',inplace=True)

In [20]:
#Convert Date into correct format
df['Join_Date']=pd.to_datetime(df['Join_Date'],format='mixed',errors='coerce')

In [ ]:
print(df.to_string())

In [ ]:
df['Join_Date'].fillna(pd.to_datetime('today'),inplace=True)
print(df)

In [ ]:
print(df.to_string())

In [ ]:
df['Gender'].replace(['Female'],'F',inplace=True)

In [ ]:
print(df.to_string())

In [ ]:
mode_dept=df['Department'].mode()[0]
print(mode_dept)

In [ ]:
df['Department'].fillna(mode_dept,inplace=True)

In [ ]:
print(df.to_string())

In [19]:
#Filling Missing values in Email Column
df['Email'].fillna('-',inplace=True)

In [ ]:
print(df.to_string())

In [21]:
#Handling none values in salary columns by filling with 0
df['Salary'].fillna(0,inplace=True)

C:\Users\jyoti\AppData\Local\Temp\ipykernel_16728\3238914337.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(0,inplace=True)

In [22]:
print(df.to_string())

       Name        Age  Gender               Email  Join_Date   Salary   Department
0     Alice  33.947368     NaN   user0@example.com 2021-05-21        0        Admin
1       Bob  40.000000       M   user1@example.com        NaT    50000  Engineering
2   Charlie  33.947368       M   user2@example.com 2020-01-01    50000           HR
3     David  33.947368     NaN   user3@example.com 2021-05-21    70000        Admin
4       Eva  35.000000   Other   user4@example.com 2020-07-04    70000  Engineering
5     Frank  33.947368   Other   user5@example.com        NaT    70000        Admin
6     Grace  33.947368  Female   user6@example.com 2020-07-04    80000  Engineering
7    Hannah  33.947368   Other   user7@example.com 2021-05-21        0           HR
8       Ivy  30.000000  Female   user8@example.com        NaT    50000  Engineering
9      Jack  35.000000       M   user9@example.com 2020-01-01    80000  Engineering
10    Alice  33.947368       M  user10@example.com 2021-05-21    70000  Engineering
11      Bob  35.000000       M  user11@example.com 2020-07-04    50000        Sales
12  Charlie  35.000000       M  user12@example.com 2022-06-22    80000        Sales
13    David  33.947368   Other  user13@example.com        NaT        0        Sales
14      Eva  40.000000       M  user14@example.com 2020-07-04    80000           HR
15    Frank  35.000000   Other  user15@example.com        NaT        0        Admin
16    Grace  33.947368   Other  user16@example.com 2021-05-21    70000          NaN
17   Hannah  33.947368       M  user17@example.com        NaT        0  Engineering
18      Ivy  30.000000       M  user18@example.com 2021-05-21    50000  Engineering
19     Jack  40.000000       M  user19@example.com        NaT    70000           HR
20    Alice  33.947368       M  user20@example.com 2021-05-21    50000  Engineering
21      Bob  33.947368       M  user21@example.com 2022-06-22  unknown        Sales
22  Charlie  30.000000       F  user22@example.com        NaT    60000          NaN
23    David  40.000000       F  user23@example.com        NaT        0    Marketing
24      Eva  33.947368       M  user24@example.com        NaT    60000  Engineering
25    Frank  25.000000       F  user25@example.com 2022-06-22    60000        Sales
26    Grace  40.000000       F  user26@example.com 2020-07-04        0    Marketing
27   Hannah  30.000000       M  user27@example.com 2021-05-21    70000          NaN
28      Ivy  33.947368       F  user28@example.com 2020-01-01  unknown    Marketing
29     Jack  33.947368   Other  user29@example.com 2021-05-21    50000        Sales
30    Alice  40.000000  Female  user30@example.com 2021-05-21    80000        Admin
31      Bob  25.000000  Female  user31@example.com 2020-07-04    50000        Admin
32  Charlie  25.000000       M  user32@example.com 2021-05-21    80000    Marketing
33    David  35.000000       M  user33@example.com 2022-06-22    50000           HR
34      Eva  35.000000       M  user34@example.com 2022-06-22        0    Marketing
35    Frank  33.947368       M  user35@example.com        NaT  unknown  Engineering
36    Grace  30.000000  Female  user36@example.com        NaT    80000  Engineering
37   Hannah  40.000000       M  user37@example.com 2020-01-01        0        Admin
38      Ivy  40.000000     NaN  user38@example.com 2021-05-21    70000           HR
39     Jack  33.947368   Other  user39@example.com 2021-05-21    50000        Sales
40    Alice  33.947368       F  user40@example.com 2020-07-04    50000  Engineering
41      Bob  33.947368       M  user41@example.com        NaT    80000        Admin
42  Charlie  33.947368     NaN  user42@example.com 2022-06-22    70000          NaN
43    David  33.947368       F  user43@example.com 2020-01-01    70000        Admin
44      Eva  35.000000       F  user44@example.com        NaT        0  Engineering
45    Frank  40.000000       M  user45@example.com 2022-06-22        0  Engineering
46    Grace  33.947368       F  user46@example.com        NaT        0        Admin
47   Hannah  40.000000   Other  user47@example.com        NaT        0        Sales
48      Ivy  25.000000     NaN  user48@example.com 2020-07-04        0    Marketing
49     Jack  35.000000       F  user49@example.com 2020-07-04        0  Engineering
50    Alice  33.947368       M  user50@example.com 2021-05-21        0        Admin
51      Bob  35.000000   Other  user51@example.com        NaT  unknown        Admin
52  Charlie  33.947368  Female  user52@example.com 2020-01-01    70000           HR
53    David  33.947368     NaN  user53@example.com        NaT        0    Marketing
54      Eva  25.000000       F  user54@example.com 2022-06-22    70000          NaN
55    Frank  33.947368       M  user55@example.com        NaT    70000        Sales
56    Grace  30.000000  Female  user56@example.com        NaT    60000          NaN
57   Hannah  40.000000  Female  user57@example.com 2020-07-04  unknown    Marketing
58      Ivy  25.000000       M  user58@example.com 2021-05-21        0    Marketing
59     Jack  40.000000   Other  user59@example.com 2021-05-21    50000    Marketing
60    Alice  33.947368       F  user60@example.com        NaT    80000          NaN
61      Bob  30.000000       M  user61@example.com 2020-07-04        0    Marketing
62  Charlie  30.000000       M  user62@example.com        NaT    50000        Admin
63    David  25.000000   Other  user63@example.com 2020-01-01  unknown          NaN
64      Eva  30.000000       M  user64@example.com 2020-07-04    80000    Marketing
65    Frank  33.947368     NaN  user65@example.com        NaT  unknown        Admin
66    Grace  30.000000   Other  user66@example.com        NaT    70000           HR
67   Hannah  40.000000   Other  user67@example.com 2020-07-04    80000    Marketing
68      Ivy  40.000000       F  user68@example.com        NaT    70000          NaN
69     Jack  33.947368   Other  user69@example.com 2020-07-04    50000  Engineering
70    Alice  40.000000       M  user70@example.com 2022-06-22    50000    Marketing
71      Bob  33.947368   Other  user71@example.com 2020-07-04    80000  Engineering
72  Charlie  40.000000       F  user72@example.com 2020-07-04    80000        Admin
73    David  33.947368       F  user73@example.com        NaT        0           HR
74      Eva  33.947368     NaN  user74@example.com        NaT  unknown        Sales
75    Frank  35.000000       M  user75@example.com 2021-05-21        0           HR
76    Grace  33.947368  Female  user76@example.com 2021-05-21  unknown    Marketing
77   Hannah  25.000000  Female  user77@example.com 2022-06-22        0  Engineering
78      Ivy  40.000000   Other  user78@example.com 2021-05-21    70000  Engineering
79     Jack  30.000000     NaN  user79@example.com 2020-07-04    80000          NaN
80    Alice  40.000000       M  user80@example.com        NaT    50000  Engineering
81      Bob  30.000000   Other  user81@example.com 2021-05-21  unknown          NaN
82  Charlie  33.947368     NaN  user82@example.com 2021-05-21  unknown        Admin
83    David  33.947368       M  user83@example.com 2022-06-22    50000        Sales
84      Eva  33.947368       M  user84@example.com        NaT        0    Marketing
85    Frank  30.000000       M  user85@example.com 2022-06-22  unknown          NaN
86    Grace  40.000000       M  user86@example.com 2020-07-04        0        Sales
87   Hannah  33.947368       M  user87@example.com        NaT    70000  Engineering
88      Ivy  33.947368     NaN  user88@example.com 2022-06-22    80000  Engineering
89     Jack  33.947368     NaN  user89@example.com 2021-05-21    50000        Sales
90    Alice  30.000000       F                   -        NaT    80000  Engineering
91      Bob  30.000000  Female                   -        NaT        0        Admin
92  Charlie  40.000000       M                   - 2021-05-21  unknown        Admin
93    David  30.000000       M                   - 2022-06-22  unknown        Sales
94      Eva  30.000000     NaN                   - 2021-05-21        0          NaN
95    Frank  33.947368       M                   -        NaT    50000          NaN
96    Grace  40.000000       M                   -        NaT    70000        Sales
97   Hannah  33.947368       M                   - 2020-01-01    60000          NaN
98      Ivy  33.947368       F                   - 2020-01-01    50000          NaN
99     Jack  33.947368     NaN                   - 2020-07-04    60000        Admin

In [23]:
df.to_csv('Cleaned data')